@model GamesWay.Models.Transactions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<style>
   dt {
        color: black;
        font-weight: bolder;
    }
   h4, dl, dd {
        color: white;
        font-weight: 400;
    }
</style>
<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber.Msisdn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.Msisdn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionId2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfSubscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfSubscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfSubscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfSubscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Channel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.TransactionId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
